@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
@model List<Tixxp.Entities.Personnel.PersonnelEntity>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .personal-goals-list::-webkit-scrollbar {
        width: 6px;
    }

    .personal-goals-list::-webkit-scrollbar-thumb {
        background: #cccccc;
        border-radius: 3px;
    }

    .personal-goals-list:hover::-webkit-scrollbar-thumb {
        background: #999999;
    }
</style>

<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb text-fixed-white">
            <h1 class="page-title fw-medium fs-18 mb-0 text-fixed-white">@Localizer["home.INDEX.HOMEPAGE"]</h1>
            <div class="ms-md-1 ms-0">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active text-fixed-white" aria-current="page">@Localizer["home.INDEX.HOMEPAGE"]</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header Close -->
        <!-- Start::row-1 -->
        <div class="row row-sm">
            <div class="col-xl-6 col-xxl-3 col-sm-12 col-lg-6 col-md-6">
                <div class="card  custom-card  widgets-cards bg-danger-gradient shadow-danger text-default border-0">
                    <div class="card-body py-0">
                        <div class="d-flex align-items-center">
                            <div id="total-orders"></div>
                            <div class="ms-2 mt-2">
                                <h2 class="mb-0 fs-22 text-fixed-white">@Localizer["home.INDEX.MONTHLY.OF.RESERVATION"]</h2>
                                <div class="">
                                    <span class="fs-12 text-fixed-white"><i class="fe fe-arrow-up-right"></i></span>
                                    <span class="fs-12 text-fixed-white op-8">+73.59%</span>
                                </div>
                            </div>
                            <h3 class="mt-3 ms-auto text-fixed-white">8758</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-3 col-sm-12 col-lg-6 col-md-6">
                <div class="card custom-card  widgets-cards bg-success-gradient shadow-success text-default border-0">
                    <div class="card-body py-0">
                        <div class="d-flex align-items-center">
                            <div id="total-views"></div>
                            <div class="ms-2 mt-2">
                                <h2 class="mb-0 fs-22 text-fixed-white">@Localizer["home.INDEX.DAILY.NUMBER.RESERVATION"]</h2>
                                <div class="">
                                    <span class="fs-12 text-fixed-white"><i class="fe fe-arrow-down-right"></i></span>
                                    <span class="fs-12 text-fixed-white op-8">-49.29%</span>
                                </div>
                            </div>
                            <h3 class="mt-3 ms-auto text-fixed-white">8758</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-3 col-sm-12 col-lg-6 col-md-6">
                <div class="card  custom-card  widgets-cards bg-secondary-gradient shadow-secondary text-default border-0">
                    <div class="card-body py-0">
                        <div class="d-flex align-items-center">
                            <div id="total-earnings"></div>
                            <div class="ms-2 mt-2">
                                <h2 class="mb-0 fs-22 text-fixed-white">@Localizer["home.INDEX.MONTHLY.OF.TICKETS"]</h2>
                                <div class="">
                                    <span class="fs-12 text-fixed-white"><i class="fe fe-arrow-up-right"></i></span>
                                    <span class="fs-12 text-fixed-white op-8">+86.29%</span>
                                </div>
                            </div>
                            <h3 class="mt-3 ms-auto text-fixed-white">8758</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-xxl-3 col-sm-12 col-lg-6 col-md-6">
                <div class="card custom-card  widgets-cards bg-info-gradient shadow-info text-default border-0">
                    <div class="card-body py-0">
                        <div class="d-flex align-items-center">
                            <div id="total-comments"></div>
                            <div class="ms-2 mt-2">
                                <h2 class="mb-0 fs-22 text-fixed-white">@Localizer["home.INDEX.DAILY.OF.TICKETS"]</h2>
                                <div class="">
                                    <span class="fs-12  text-fixed-white"><i class="fe fe-arrow-down-right"></i></span>
                                    <span class="fs-12  text-fixed-white op-8">-33.29%</span>
                                </div>
                            </div>
                            <h3 class="mt-3 ms-auto  text-fixed-white">8758</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End::row-1 -->
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xxl-8 col-xl-8 col-lg-7 col-md-12 col-sm-12">
                <div class="card custom-card">
                    <div class="card-header justify-content-between flex-wrap">
                        <div class="card-title">
                            @Localizer["home.INDEX.SALES.GROWTH"]
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div id="sales-statistics" class="p-3"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">@Localizer["home.INDEX.ORDERS.STATISTICS"]</div>
                    </div>
                    <div class="card-body">
                        <div id="lineChart1" class=""></div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End:: row-2 -->
        <!-- Start:: row-3 -->
        <div class="row">
            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">@Localizer["home.INDEX.DAILY_PRODUCT_SELLERS"]</div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled personal-goals-list mb-0" style="max-height: 360px; overflow-y: auto;">
                            @if (ViewBag.DailySellers != null)
                            {
                                foreach (var item in ViewBag.DailySellers)
                                {
                                    <li class="mb-4">
                                        <div class="d-flex align-items-center">
                                            <span class="avatar avatar-sm text-default">
                                                <img src="@item.ProfilePhotoPath" alt="img" class="rounded-1" style="width: 32px; height: 32px; object-fit: cover;">
                                            </span>
                                            <div class="flex-fill ms-2">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <span class="d-block h6 mb-1">@item.FirstName @item.LastName</span>
                                                    <span class="d-block h6">@item.TotalSales</span>
                                                </div>
                                                <div class="progress progress-animate progress-xs" role="progressbar" aria-valuenow="@item.Percent" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar progress-bar-striped bg-info" style="width: @item.Percent%"></div>
                                                </div>
                                                <small class="text-muted">@item.Date.ToString("dd.MM.yyyy")</small>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                            else
                            {
                                <li><span class="text-muted">Kayıt bulunamadı</span></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">@Localizer["home.INDEX.USERS"]</div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled personal-goals-list mb-0" style="max-height: 360px; overflow-y: auto;">
                            @foreach (var user in ViewBag.PersonnelList)
                            {
                                <li class="mb-4">
                                    <div class="d-flex align-items-center">
                                        <span class="avatar avatar-sm text-default">
                                            <img src="@user.ProfilePhotoPath" alt="img" class="rounded-1" style="width: 32px; height: 32px; object-fit: cover;">
                                        </span>
                                        <div class="flex-fill ms-2">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span class="d-block h6 mb-1">@user.FirstName @user.LastName</span>
                                                <span class="badge bg-success text-white">Aktif</span>
                                            </div>
                                            <div class="text-muted fs-12">@Localizer["home.INDEX.COMPANY.USER"]</div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-md-6 col-lg-6">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">@Localizer["home.INDEX.PRODUCT.SALES"]</div>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled personal-goals-list mb-0" style="max-height: 360px; overflow-y: auto;">
                            @if (ViewBag.CounterSales != null)
                            {
                                foreach (var item in ViewBag.CounterSales)
                                {
                                    <li class="mb-4">
                                        <div class="d-flex align-items-center">
                                            <span class="avatar avatar-sm bg-primary-transparent text-primary fw-bold rounded-1 d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;">
                                                <i class="fe fe-monitor"></i>
                                            </span>
                                            <div class="flex-fill ms-2">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <span class="d-block h6 mb-1">@item.CounterName</span>
                                                    <span class="badge bg-primary text-white">@item.TotalSales</span>
                                                </div>
                                                <div class="text-muted fs-12">@Localizer["home.INDEX.TOTAL.SALES"]</div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                            else
                            {
                                <li class="mb-2">
                                    <span class="text-muted">Kayıt bulunamadı</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
                <div class="card custom-card">
                    <div class="card-body text-center profile p-0">
                        <div class="image">
                            <img src="~/assets/images/media/media-9.jpg" alt="background" class="profile-img">
                            <div class="box img-absolute">
                                <div class="img-1">
                                    <img src="@ViewBag.CurrentUser?.ProfilePhotoPath" alt="profile" style="width: 80px; height: 80px; object-fit: cover;" class="rounded-circle border">
                                </div>
                            </div>
                        </div>
                        <div class="pt-6 box">
                            <div class="p-4">
                                <h5 class="mt-5 mb-0">@ViewBag.CurrentUser?.FirstName @ViewBag.CurrentUser?.LastName</h5>
                                <span class="mt-2 mb-0 badge bg-primary">@Localizer["home.INDEX.LOGGED.IN.USER"]</span>
                                <p class="mt-2 text-muted">
                                    Sisteme en son @ViewBag.CurrentUser?.Updated_Date?.ToString("dd.MM.yyyy HH:mm") tarihinde giriş yaptı.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End:: row-3 -->
            <div class="col-lg-12">
                <div class="card custom-card">
                    <div class="card-header border-bottom">
                        <h3 class="card-title tx-18">
                            <label class="main-content-label tx-15">@Localizer["home.INDEX.SALES"]</label>
                        </h3>
                    </div>
                    <div class="card-body">
                        <!-- Scrollable alan burası -->
                        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                            <table class="table table-bordered text-nowrap border-bottom mb-0 border" id="recentorders">
                                <thead class="sticky-top bg-white">
                                    <tr>
                                        <th class="wd-lg-10p">@Localizer["home.INDEX.USER"]</th>
                                        <th class="wd-lg-10p">@Localizer["home.INDEX.ORDER.NO"]</th>
                                        <th class="wd-lg-10p">@Localizer["home.INDEX.DATE"]</th>
                                        <th class="wd-lg-10p">@Localizer["home.INDEX.AMOUNT"]</th>
                                        <th class="wd-lg-10p">@Localizer["home.INDEX.PAYMENT.PLACE"]</th>
                                        <th class="wd-lg-10p">@Localizer["home.INDEX.STATUS"]</th>
                                        <th class="wd-lg-10p">@Localizer["home.INDEX.PRODUCT_DETAIL"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.RecentSales)
                                    {
                                        <tr>
                                            <td class="font-weight-normal d-flex border-0 align-items-center">
                                                <span class="avatar avatar-sm me-2">
                                                    <img alt="avatar" class="rounded-circle" src="@item.Avatar" style="width:32px; height:32px; object-fit:cover;">
                                                </span>
                                                <span class="mt-1">@item.CustomerName</span>
                                            </td>
                                            <td class="font-weight-normal">@item.OrderId</td>
                                            <td class="text-muted tx-13">@item.Date</td>
                                            <td class="font-weight-normal">@item.TotalPrice</td>
                                            <td class="font-weight-normal">@item.PaymentMethod</td>
                                            <td>
                                                <span class="badge rounded-pill bg-success-transparent text-success px-2">@item.Status</span>
                                            </td>
                                            <td class="text-dark tx-13">
                                                <a href="javascript:void(0);"
                                                   tabindex="0"
                                                   class="btn btn-sm btn-outline-primary"
                                                   data-bs-toggle="popover"
                                                   data-bs-html="true"
                                                   data-bs-trigger="focus"
                                                   data-bs-placement="left"
                                                   data-bs-content="@Html.Raw(item.DetailHtml)">
                                                    <i class="fe fe-eye"></i> @Localizer["home.INDEX.SHOW"]
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- End::app-content -->
    @section Scripts {
        <script>
            $(function () {
                $('[data-bs-toggle="popover"]').popover({
                    html: true,
                    trigger: 'focus',
                    placement: 'left'
                });
            });
        </script>
    }
